<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="UserFilePath" value = "C:\Users\murad\OneDrive\Desktop\Final Task C#\MarketProgram\Users.json"/>
		<add key ="ProductsFilePath" value = "C:\Users\murad\OneDrive\Desktop\Final Task C#\MarketProgram\Products.json"/>
		<add key ="BuyHistoryFilePath" value = "C:\Users\murad\OneDrive\Desktop\Final Task C#\MarketProgram\BuyHistory.json"/>
		<add key ="AdminFilePath" value = "C:\Users\murad\OneDrive\Desktop\Final Task C#\MarketProgram\Admins.json"/>
	</appSettings>
</configuration>